#header {
  display: flex;
  justify-content: space-between;
}
#nav-bar li {
  display: inline;
  justify-content: space-between;
  padding: 10px;
}
#nav-bar li a {
  color: black;
  text-decoration: none;
}
@media (max-width: 2000px) {
  h1 {
    text-align: center;
  }
  #vidone video {
    align-content: center;
  }
  #form {
    align-items: center;
  }
  form input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #submit {
    background: orange;
  }
}
